<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <link href="./img/weather_icon.png" rel="icon">
    <link href="./css/styles.css" rel="stylesheet">
</head>
<body>

<div class="main-content">
    {{>header}}
    <h2>Well this is embarrsing</h2>
    <p>There was no page found at this url</p>
</div>
{{>footer}}
</body>
</html>