<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="./img/weather_icon.png" rel="icon">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/app.js"></script>
</head>
<body>

<div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/puppy.jpg">
</div>
{{>footer}}
</body>
</html>