<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="./img/weather_icon.png" rel="icon">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="main-content">
    {{>header}}
    <p>This was site was created by David Walshe.

        It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="/img/puppy.jpg">
</div>
{{>footer}}
</body>
</html>